.babo {
  div {
    width: 100%;
    height: 780px;
    img {
      height: 100%;
      padding-top: 66px;
      background-size: cover;
    }
  }
  .slick-dots {
    bottom: -20px;
    padding: 0;
  }

  .slick-dots li {
    margin: 0 0;
  }

  button {
    background-color: transparent;
  }
}
