@import "../../Styles/common.scss";

.Card {
  display: list-item;
  position: relative;
  width: 255px;
  height: 383px;
  margin-right: 20px;

  .thumnailWrap {
    position: relative;
    width: 255px;
    height: 255px;
    border-radius: 6px;
    overflow: hidden;

    .imgWrap {
      position: absolute;
      width: 100%;
      padding-top: 100%;
      background: rgba(0, 0, 0, 0.02);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 16px;

    &.productName {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-right: 32px;
      color: #777777;
      font-weight: 400;
    }

    &.productDiscountPrice {
      color: $point;
    }

    &.bold {
      font-weight: 700;
    }

    &.original {
      font-weight: 400;
      color: $subtext;
      text-decoration: line-through;
    }
  }

  .cartWrap {
    position: absolute;
    top: 261px;
    left: 226px;
    width: 32px;
    height: 32px;

    button {
      width: 100%;
      height: 100%;
      color: transparent;
      outline: none;
      border: none;
      border-radius: 3px;
      background-color: white;
      background-image: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-pink-3.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 1px;

      &.addCart {
        background: url("https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-pink.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}
