@import "../../Styles/common.scss";
@import "../../Styles/reset.scss";
.Cart {
  margin: 0;
  padding: 0;
  display: block;
  width: 1422px;
  height: 1033px;
}
.headerCartBorder {
  width: 1080px;
  margin: 66px auto 0;
  display: block;
}
.headerCart {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 1080px;
  height: 150px;

  padding: 56px 0 34px 0;
  height: 60px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: -0.36px;
}
.emptyCart {
  height: 300px;
  padding: 0px;
  border: 1px solid #e2e5e8;
}
