@import "../../Styles/common.scss";
@import "../../Styles/reset.scss";

.Sorting {
    width: 376px;
    .sortItems {
        @include flexBox(default, default, row);
    }
    li {
        width: 188px;
        position: relative;
        .sortBtn {
            width: 188px;
            height: 35px;
            display: inline-block;
            position: relative;
            padding: 7px 21px 6px 17px;
            border: 1px solid rgb(227, 229, 232);
            background-color: white;
            background-position: right 13px center;
            background-image: url("https://t1.kakaocdn.net/friends/new_store/ico_dropdown.png");
            background-size: 12px;
            background-repeat: no-repeat;
            font-size: 15px;
            text-align: left;
            &:focus {
                outline: none;
            }
            &.sortingType {
                border-radius: 4px 0 0 4px;
            }
            &.sortingChar {
                border-radius: 0 4px 4px 0;
                border-left: none;
            }
        }
        &.listType .selectModalWrap {
            width: 186px;
            height: 140px;
            position: absolute;
            left: 0px;
            top: 34px;
            border: 1px solid rgb(227, 229, 232);
            background: white;
            z-index: 2;
            &.hidden {
                display: none;
            }
            .selectModalItem {
                width: 100%;
                height: 35px;
                display: block;
                padding: 7px 17px;
                box-sizing: border-box;
                color: rgb(154, 154, 158);
                &:hover {
                    background-color: #f7f7f7;
                    color: black;
                }
                .selectModalOption {
                    font-size: 15px;
                }
            }
        }
        &.listChar .selectModalWrap {
            width: 374px;
            height: 226px;
            position: absolute;
            right: 0px;
            top: 34px;
            border: 1px solid rgb(227, 229, 232);
            background: white;
            z-index: 2;
            &.hidden {
                display: none;
            }
            .sortChar {
                width: 100%;
                height: 226px;
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                padding: 13px 16px;
                li {
                    width: 68px;
                    height: 99px;
                    .selectCharWrap {
                        width: 60px;
                        height: 85px;
                        margin: 7px 4px;
                        @include flexBox(center, default, column);
                        div {
                            width: 60px;
                            height: 60px;
                            position: relative;
                            span {
                                width: 100%;
                                img {
                                    width: 60px;
                                    height: 60px;
                                }
                                img.selectedCharIcon {
                                    width: 18px;
                                    height: 18px;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    &.notSelected {
                                        display: none;
                                    }
                                }
                            }
                        }
                        span {
                            height: 17px;
                            margin-top: 8px;
                            font-size: 13px;
                            text-align: center;
                            color: $subtext;
                            &.selected {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}
