@import "../../../Styles/common.scss";

.SaleCardEach {
  position: relative;
  width: 330px;
  height: 425px;
  margin-right: 45px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  overflow: hidden;
  cursor: pointer;

  &:nth-child(3) {
    margin-right: 0;
  }

  .thumnailWrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;

    .imgWrap {
      position: absolute;
      width: 100%;
      padding-top: 100%;
      background: rgba(0, 0, 0, 0.02);
      z-index: 0;
    }

    img {
      width: 100%;
      height: auto;
      z-index: -1;
    }
  }

  .productInfo {
    position: absolute;
    top: 330px;
    width: 330px;
    height: 95px;
    padding: 19px 20px;
    box-sizing: border-box;

    .productName {
      margin: 4px 0;
      font-size: 16px;
    }

    .productDiscountPrice {
      display: inline-block;
      margin-right: 5px;
      color: $point;
      font-size: 22px;
      font-weight: bold;
    }

    .productPrice {
      display: inline-block;
      color: $subtext;
      font-size: 15px;
      text-decoration: line-through;
    }
  }

  .cartWrap {
    position: absolute;
    bottom: 32px;
    right: 23px;
    width: 32px;
    height: 32px;

    button {
      width: 100%;
      height: 100%;
      padding: 0;
      background: url(https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-default-large-3.png)
        center center / 100% no-repeat;
      color: transparent;
      outline: none;
      border: none;
      border-radius: 3px;
      font-size: 1px;

      &.addCart {
        background: url(https://t1.kakaocdn.net/friends/new_store/2.0/common/basket-main-over-large-3.png)
          center center / 100% no-repeat;
      }
    }
  }
}
