@import "../../Styles/common.scss";

* {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", sans-serif;
}

.Nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  color: $subBlack;
  background-color: #ffffff;
  z-index: 1;
  @include flexBox(center, center, row);

  .Container {
    position: relative;
    width: 1060px;
    height: 60px;
    margin: 0 auto;
    @include flexBox(space-between, center, row);
    @media (min-width: 1280px) {
      height: 66px;
    }

    .leftMenu {
      width: 265px;
      height: 100%;
      padding: 15px 0px;
      @include flexBox(flex-start, center, row);

      .category {
        position: relative;
        width: 100%;
        height: 100%;
        padding-right: 11px;
        @include flexBox(flex-start, center, row);

        &Link {
          width: 70px;
          height: 100%;
          margin: 0;
          font-size: 15px;
          @include flexBox(center, center, row);

          .categoryTri {
            display: inline-block;
            width: 7px;
            height: 4px;
            margin-left: 3px;
            background: url("/images/ico-header-triangle.png") no-repeat center;
            background-size: 7px 4px;
          }
        }
      }
    }

    .logo {
      position: absolute;
      left: 460px;
      width: 165px;
      height: 27px;
    }

    .rightMenu {
      position: absolute;
      left: 790px;
      @include flexBox(center, center, row);

      .searchbar {
        padding-right: 20px;
        &Box {
          width: 216px;
          height: auto;
          max-height: 40px;
          margin-right: 10px;
          border: 1px solid #ededed;
          border-radius: 3.2px;
          @include flexBox(flex-start, center, row);

          .searchbarBtn {
            border: none;
            padding-left: 6px;
            background: none;

            .searchbarIcon {
              display: inline-block;
              width: 14.4px;
              height: 14.4px;
              background: url("/images/ico-header-search.png") no-repeat center;
              background-size: 14.4px 14.4px;
            }
          }
          .searchbarInput {
            border: none;
            padding: 9px 0;
            outline: none;
            font-size: 15px;
          }
        }
      }

      .icons {
        position: absolute;
        left: 210px;
        @include flexBox(center, center, row);
        .iconLink {
          margin: 23px 2px 23.5px 15px;

          #myPage {
            display: inline-block;
            width: 18px;
            height: 19px;
            background: url("/images/ico-header-mypage.png") no-repeat center;
            background-size: 18px 19px;
          }

          #cart {
            display: inline-block;
            width: 17px;
            height: 21px;
            background: url("/images/ico-header-cart.png") no-repeat center;
            background-size: 17px 21px;
          }
          #language {
            display: absolute;
            left: 500px;
            background: url("/images/ico-header-lang.png") no-repeat center;
            display: inline-block;
            width: 23px;
            height: 23px;
            background-size: 23px;
          }
        }
      }
    }
  }
}
